***__pycache__
.idea
***.DS_Store

venv

apikeys_dont_commit.json

dataset_generation/no_commit
idk

model/basic/speedtest/*.pkl
model/basic/speedtest/*.txt

model/basic/playground/speedtest/*.pkl
model/basic/playground/speedtest/*.txt

dataset_generation/*.txt